#core {
    width: 100%;
    margin: 50px 50px 0 50px;
}

#user {
    width: 300px;
}

pre {
    width: 80%;
}

body {

    color: ghostwhite;
    background: url(https://78.media.tumblr.com/tumblr_lmfix57faG1qhq4cpo1_400.gif);
}

h2 {
    color: red;
}


h3 {
    color: limegreen;
}

